<!-- <h1 style="text-align: center;">Welcome to angular</h1>
<hr> -->
<!-- interpolation -->
<!-- <h1 style="text-align: center;color: blue;">Name is {{name}}</h1>
<h1 style="text-align: center;color: blue;">Number is {{n}}</h1> -->

<!-- property data binding --> 
<!-- <input type="text" [value]=name>
<input type="number" [value]=n> -->
<!-- <img [src]="imgurl" alt="" src=""> -->

<!-- event bindiing -->
<!-- <div class="text-center">
<input type="text" #ref>
<button class="btn btn-success "(click)="getData(ref.value)">send</button>
</div> -->
<!-- 
<h1 class="text-secondary text-center">Regisration form</h1>
<hr>

<div class="d-flex justify-content-evenly">
    <app-test1     (myEvent)="toReceieveDataFromChild=$event"></app-test1> -->
    <!-- <app-test1></app-test1> -->
<!-- </div> -->


<!-- 


<button type="submit" class="btn btn-info" (click)="changeStatus()">
    {{status ? "hide image" : "show image"}}
</button>
<img [src]="imgUrl" alt="" class="d-block mx-auto" *ngIf="status">

 -->



<!-- <div class="container">
<form #ref="ngForm" (ngSubmit)="getDataFromForm(ref)">
    <div class="form-group">
        <label for="n">Name</label>
        <input type="text" name="name" id="n" class="form-control " ngModel>
    </div>

    <div class="form-group">
        <label for="em">E-mail</label>
        <input type="email" name="email" id="em" class="form-control " ngModel>
    </div>


    <div class="form-group">
        <label for="dob">Date of Birth</label>
        <input type="date" name="dob" id="dob" class="form-control " ngModel>
    </div>

    <button type="submit" class="btn btn-success">Register</button>

</form>
</div> -->


<!-- display array eleemnts -->
<!-- 
    <ul>
        <li *ngFor="let n of enos">{{n}}</li>
    </ul> -->

    <!-- <div class="container">
        <h3 class="text-center text-info">Registered employee details</h3>
        <table class="table text-center table-striped table-bordered">
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>DOB</th>
            </thead>
            <tr *ngFor="let e of emps">
                <td>{{e.name}}</td>
                <td>{{e.email}}</td>
                <td>{{e.dob}}</td>
            </tr>

        </table>

    </div>
 -->



<app-empregistration></app-empregistration>

  































